CT_CONFIG_VERSION="3"

CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-8a"
CT_ARCH_SUFFIX="v7"
CT_ARCH_ARCH_CFLAG="armv7-a"
CT_ARCH_FPU="vfpv3-d16"
CT_ARCH_FPU_CFLAG="vfpv3-d16"
CT_ARCH_FLOAT_HW=y
CT_ARCH_FLOAT="hard"
CT_ARCH_ARM_EABI=y
CT_ARCH_ARM_TUPLE_USE_EABIHF=y
CT_ARCH_LE=y
CT_ARCH_32=y
CT_CROSS=y
CT_TOOLCHAIN_TYPE="cross"

CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
CT_LINUX_VERSION="3.10.108"

CT_ARCH_BINFMT_ELF=y
CT_BINUTILS_BINUTILS=y
CT_BINUTILS_USE_GNU=y
CT_BINUTILS_V_2_29=y
CT_BINUTILS_VERSION="2.29.1"

CT_LIBC_GLIBC=y
CT_THREADS="nptl"
CT_GLIBC_V_2_17=y
CT_GLIBC_VERSION="2.17"
CT_GLIBC_DEP_KERNEL_HEADERS_VERSION=y
CT_GLIBC_DEP_BINUTILS=y
CT_GLIBC_DEP_GCC=y
CT_GLIBC_HAS_NPTL_ADDON=y
CT_GLIBC_HAS_PORTS_ADDON=y
CT_GLIBC_HAS_LIBIDN_ADDON=y
CT_GLIBC_USE_PORTS_ADDON=y
CT_GLIBC_USE_NPTL_ADDON=y
CT_GLIBC_HAS_OBSOLETE_RPC=y
CT_GLIBC_ENABLE_OBSOLETE_RPC=y
CT_GLIBC_FORCE_UNWIND=y
CT_GLIBC_MIN_KERNEL="3.10.108"
CT_LIBC_SUPPORT_THREADS_ANY=y
CT_LIBC_SUPPORT_THREADS_NATIVE=y
CT_THREADS_NATIVE=y
CT_LIBC_XLDD=y
